:root,
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*############################################# <HEADER> ########################################################## */
.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #1561cc
}

.scores {
  background-color: #edede9;
  margin: .3em;
  padding: .6em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}

.scoreboard__label {
  margin: 0;
  color: #457b9d
}

.scoreboard__score,
.scoreboard__best {
  font-size: 23px;
  font-family: "scoreboard";
  color: #e63946
}

/*############################################# <Board> ########################################################## */

.board {
  position: relative;
  background-color: #5f6158;
  margin: 1em 0;
  padding: .2em;
  border-radius: 5px;
}

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #778da9;
  color: #e0e1dd;
  margin: .1em;
  border-radius: 5px;
}

.zero {
  background-color: #778da9;
}

.modal__close {
  position: absolute;
  right: 5px;
  margin-left: .2em;
  border: none;
  font-size: 30px;
  color: rgb(202, 147, 147);
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.modal__close:hover {
  opacity: .5;
}

.color__input ::after {
  height: 30px;
  width: 30px;
  content: "asdfadsf";
  display: inline-block;
  background-color: red
}

.start-bar {
  display: flex;
  gap: 1em;

}



/* CSS */
button {
  background-color: #f7ede2;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #ebd7d7;
}