body {
  margin: 0;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.board {
  height: 350px;
  width: 350px;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .2em
}

.cell {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 34px;
  text-align: center;
  background-color: bisque;
}

.zero {
  color: transparent;
  background-color: bisque;
}